In [1]:
!pip install --quiet climetlab

# BUFR data

In [2]:
import climetlab as cml

In [3]:
source = cml.load_dataset("sample-bufr-data")

See https://github.com/ecmwf/pdbufr

In [4]:
pd = source.to_pandas(
    columns=('stationNumber', 'latitude', 'longitude', 'data_datetime', 'pressure', 'airTemperature'),
    filters={'stationNumber': [823, 9]},
)

In [5]:
pd.head()

,stationNumber,latitude,longitude,pressure,airTemperature,data_datetime
0,823,53.75,-73.67,100000.0,-1.000000e+100,2008-12-08 12:00:00
1,823,53.75,-73.67,97400.0,2.567000e+02,2008-12-08 12:00:00
2,823,53.75,-73.67,93700.0,2.551000e+02,2008-12-08 12:00:00
3,823,53.75,-73.67,92500.0,2.553000e+02,2008-12-08 12:00:00
4,823,53.75,-73.67,90600.0,2.567000e+02,2008-12-08 12:00:00

In [6]:
pd.tail()

,stationNumber,latitude,longitude,pressure,airTemperature,data_datetime
190,9,51.77,36.17,2990.0,-1.000000e+100,2008-12-08 12:00:00
191,9,51.77,36.17,2790.0,2.063000e+02,2008-12-08 12:00:00
192,9,51.77,36.17,2170.0,-1.000000e+100,2008-12-08 12:00:00
193,9,51.77,36.17,2000.0,2.031000e+02,2008-12-08 12:00:00
194,9,51.77,36.17,1390.0,1.979000e+02,2008-12-08 12:00:00